.message {
    opacity: 0;
    visibility: hidden;
}

.animated-fade-out {
    animation: fade-out 5s 1 forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}
