.resize-input {
    margin: 0;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    margin: 0 0 0 0;
    background-color: whitesmoke;
    border-radius: 10%;
    width: 100%;
    height: 7px;
    border: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin: -15px 0 0 0;
    height: 20px;
    width: 8px;
    border-radius: 10%;
    background-color: whitesmoke;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-bottom: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    /*border-radius: 0.25rem;*/
    -webkit-transition: .1s;
    transition: .1s;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    /*border-radius: 4px;*/
    background-color: white;
    -webkit-transition: .1s;
    transition: .1s;
}

input:checked + .switch-slider {
    background-color: #1b6ec2;
}

input:focus + .switch-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch-slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

input:disabled + .switch-slider {
    background-color: dimgray;
}