
<div class="toolbar">
    <div>
        <button class="btn btn-light toolbar-btn"
            @onclick="async (args) => await OnImageClick.InvokeAsync(args)">
            <span class="oi oi-image"></span>
            Image
        </button>
        <button class="btn btn-light toolbar-btn"
            @onclick="async (args) => await OnRectangleClick.InvokeAsync(args)">
            <span class="oi oi-media-stop"></span>
            Rectangle
        </button>
        @LeftContent
    </div>
    @CenterContent
    <div>
        @RightContent
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment? LeftContent { get; set; }

    [Parameter]
    public RenderFragment? CenterContent { get; set; }

    [Parameter]
    public RenderFragment? RightContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnRectangleClick { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnImageClick { get; set; }
}
