@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div id="page_content" class="content">
            @Body
        </div>
    </main>
</div>
